# PyInstaller artifacts
dist/
build/
__pybuild_tmp__/
*.spec

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
env/
.venv/
.env/

# OS
.DS_Store
Thumbs.db
desktop.ini
ehthumbs.db

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp
